<h1><%= "#{root_url}" + @link.shortened_link_address %></h1>
<h2><%= @link.full_link_address %></h2>
<h3>Created by <%= get_link_creator_name @link %></h3>
<p>Total Visits <%= @link.visits %></p>
<p>Chrome visits <%= image_tag("gc_icon") %> <%= @link.statistic.browser["Chrome"] ||= 0 %></p>
<p>Safari visits <%= @link.statistic.browser["Safari"] ||= 0 %></p>
<p>Firefox visits <%= image_tag("mf_icon") %> <%= @link.statistic.browser["Firefox"] ||= 0 %></p>
<p>Internet Explorer visits <%= image_tag("ie_icon") %></p>
